

div.background 
{
    background-image: url(sliki/hamburger.png), url(sliki/darkblue.jpg);
    background-position: right, 100% center;
    background-origin: border-box, content-box;
    background-repeat: no-repeat, repeat;
}

.special 
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

.special2
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    background-color: rgb(163, 0, 0);
    margin-bottom: .7em;
    text-align: center;
}

legend
{
    background-color: rgb(245, 147, 0);
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.0em;
    font-weight: normal;
    padding: .2em;
}

fieldset
{
    background-color: rgb(241, 230, 207);
    color: black;
    font-weight: bold;
    border-color: rgb(202, 1, 1);
}


input.inputclass
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    background-color: rgb(163, 0, 0);
    margin-bottom: .2em;
}

fieldset.background2
{
    background-image: url(sliki/stripes.jpg);
    background-position: center;
    background-repeat: repeat;
    
}
